<style>
.null1{}
.login {
	padding-top:50px;
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 300px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 2; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
}

.login a {
	padding-top: 20px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	
}

/* When you mouse over the navigation links, change their color */
.login a:hover {
	color: #f1f1f1;
}
.md-form{
	margin-left:30px;
	margin-right:30px;
	text-align: center;
	background-color:white;
}

</style>