<style>

* {box-sizing: border-box;}

.content {
  padding-top:30px;
  padding-left:150px;
  padding-right:150px;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

.card-image-container {
  position: relative;
  width: 100%;
}

.card-img-top {
  width: auto; height: auto;
  max-width: 350px;
  max-height: 380px;
  opacity: 1;
  display: block table;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

/*
.detail_mateList{
  width: auto; height: auto;
  max-width: 350px;
  max-height: 380px;
}
*/

.card-img-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card-image-container:hover .card-img-top {
  opacity: 0.3;
}

.card-image-container:hover .card-img-middle {
  opacity: 1;
}

.text {
  background-color: #67d0fe;
  color: white;
  font-size: 16px;
  font-weight:bold;
  padding: 16px 32px;
  
}



  

</style>