/**
 *
 * Select Beauty
 * Is a plugin for make select are beautyfull
 *
 * Author: Satria Aji Putra
 * Company: Satmaxt Developer
 * Created At: 25/10/17;
 * License: MIT
 *
 */


select #work-condition {
	display: block;
	width: auto;
	padding: 3px 10px;
}
.button-sb {
	padding: 8px 10px;
	background: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #818181;
	font-family: sans-serif;
	outline: none;
	transition: all .3s ease-in-out;
}
.button-sb:hover {
	background: #818181;
	color: #fff;
}
.button-sb-block {
	display: block;
	width: 100%;
}
.hide {
	display: none;
}
.select-beauty {
	position: relative;
	display: block;
}
.select-beauty button {
	background: #f2f2f2;
	border: 1px solid #ccc;
	color: #818181;
	text-align: left;
}
.select-beauty ul {
	position: absolute;
	padding: 0 15px;
	margin: 0;
	list-style: none;
	background: #f2f2f2;
	left: 0;
	right: 0;
	z-index: 2;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0px 10px 10px 2px rgba(0,0,0,.09);
	border: 1px solid #ccc;
	border-top: none;
	top: auto;
}
.select-beauty ul li {
	float: left;
	width: 33.333%;
}
.select-beauty ul li a {
	display: block;
	font-size: 12px;
	padding: 10px 0;
	color: #818181;
	font-weight: 600;
	/* text-align: center; */
	font-family: sans-serif;
	text-decoration: none !important;
	transition: all .2s ease-in-out;
}
.select-beauty ul li a:hover, .select-beauty ul li.active a {
	color: #2aabe4;
}

/* Icon Work */
.iw {
	background-image: url('../img/spriteSportService.png');
	width: 40px;
	height: 30px;
	background-size: 40px;
	background-repeat: no-repeat;
	display: inline-block;
	/* margin: 1px 10px 1px 0px; */
	vertical-align: middle;
}
.iw-dozer {
	background-position: 0px -70px;
}
.iw-dozer:hover, .select-beauty ul li a:hover .iw-dozer, .select-beauty ul li.active a .iw-dozer {
	background-position: 0px -118px;
}
.iw-excavator {
	background-position: 0px -975px;
}
.iw-excavator:hover, .select-beauty ul li a:hover .iw-excavator, .select-beauty ul li.active a .iw-excavator {
	background-position: 0px -1002px;
}
.iw-uniform {
	background-position: 0px -1125px;
}
.iw-uniform:hover, .select-beauty ul li a:hover .iw-uniform, .select-beauty ul li.active a .iw-uniform {
	background-position: 0px -1160px;
}
.iw-pickup {
	background-position: 0px -1041px;
}
.iw-pickup:hover, .select-beauty ul li a:hover .iw-pickup, .select-beauty ul li.active a .iw-pickup {
	background-position: 0px -1090px;
}
.iw-scope {
	background-position: 0px -540px;
}
.iw-scope:hover, .select-beauty ul li a:hover .iw-scope, .select-beauty ul li.active a .iw-scope {
	background-position: 0px -575px;
}
.iw-warning {
	background-position: 0px -610px;
}
.iw-warning:hover, .select-beauty ul li a:hover .iw-warning, .select-beauty ul li.active a .iw-warning {
	background-position: 0px -655px;
}
.iw-hammer-o {
	background-position: 0px -480px;
}
.iw-hammer-o:hover, .select-beauty ul li a:hover .iw-hammer-o, .select-beauty ul li.active a .iw-hammer-o {
	background-position: 0px -520px;
}
.iw-drill {
	background-position: 0px -255px;
}
.iw-drill:hover, .select-beauty ul li a:hover .iw-drill, .select-beauty ul li.active a .iw-drill {
	background-position: 0px -305px;
}
.iw-park {
	background-position: 0px -1438px;
}
.iw-park:hover, .select-beauty ul li a:hover .iw-park, .select-beauty ul li.active a .iw-park {
	background-position: 0px -1475px;
}
.iw-locker {
	background-position: 0px -1192px;
}
.iw-locker:hover, .select-beauty ul li a:hover .iw-locker, .select-beauty ul li.active a .iw-locker {
	background-position: 0px -1231px;
}
.iw-bag {
	background-position: 0px -450px;
}
.iw-bag:hover, .select-beauty ul li a:hover .iw-bag, .select-beauty ul li.active a .iw-bag {
	background-position: 0px -501px;
}
.iw-hammer {
	background-position: 0px -345px;
}
.iw-hammer:hover, .select-beauty ul li a:hover .iw-hammer, .select-beauty ul li.active a .iw-hammer {
	background-position: 0px -395px;
}
.iw-wifi {
	background-position: 0px -1275px;
}
.iw-wifi:hover, .select-beauty ul li a:hover .iw-wifi, .select-beauty ul li.active a .iw-wifi {
	background-position: 0px -1310px;
}
.iw-way {
	background-position: 0px -0px;
}
.iw-way:hover, .select-beauty ul li a:hover .iw-way, .select-beauty ul li.active a .iw-way {
	background-position: 0px -30px;
}
.iw-note {
	background-position: 0px -883px;
}
.iw-note:hover, .select-beauty ul li a:hover .iw-note, .select-beauty ul li.active a .iw-note {
	background-position: 0px -930px;
}
.iw-key {
	background-position: 0px -170px;
}
.iw-key:hover, .select-beauty ul li a:hover .iw-key, .select-beauty ul li.active a .iw-key {
	background-position: 0px -215px;
}
.iw-crane {
	background-position: 0px -705px;
}
.iw-crane:hover, .select-beauty ul li a:hover .iw-crane, .select-beauty ul li.active a .iw-crane {
	background-position: 0px -753px;
}

.iw-shower {
	background-position: 0px -1345px;
}
.iw-shower:hover, .select-beauty ul li a:hover .iw-shower, .select-beauty ul li.active a .iw-shower {
	background-position: 0px -1390px;
}

.iw-sauna {
	background-position: 0px -1512px;
}
.iw-sauna:hover, .select-beauty ul li a:hover .iw-sauna, .select-beauty ul li.active a .iw-sauna {
	background-position: 0px -1548px;
}

.iw-etc {
	background-position: 0px -1580px;
}
.iw-etc:hover, .select-beauty ul li a:hover .iw-etc, .select-beauty ul li.active a .iw-etc {
	background-position: 0px -1610px;
}
