<style>

/*컨텐트 크기 재설정 시작*/
.content{
	margin-left:50px;
	margin-bottom:15px;
	margin-right:5px;
}
/*컨텐츠 크기 재설정 끝*/

/*맵영역 설정하는 CSS 시작*/
.map_wrap {margin:0;padding:0;font-size:12px;position:relative;width:100%;}
#map{width:100%;height:100%;overflow:hidden;}
/*맵영역 설정하는 CSS 끝*/

/*검색결과 리스트 메뉴 CSS 시작*/
#menu_wrap {position:absolute;top:0;left:0;bottom:0;margin:5px;overflow-y:auto;z-index: 1;font-size:12px;border-radius: 10px;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}
#menu_wrap .option button {margin-left:5px;}
#menu_wrap hr {display: block; height: 1px;border:0;border-top: 2px solid #5F5F5F;margin:3px 0;}
/*검색결과 리스트 메뉴 CSS 끝*/


/*리스트 메뉴 속 결과리스트 시작*/
#placesList li {list-style: none;}
#placesList .item {position:relative;padding:0;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .place_name {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .place_name{padding:10px 0 10px 55px;}
/*리스트 메뉴 속 결과리스트 끝*/

/*마커용 CSS*/
    .wrap {position: absolute;left: 0;bottom: 40px;width: 480px;/*height: 250px;*/margin-left:-240px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
    .info .close:hover {cursor: pointer;}
    .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .jibun {font-size: 11px;color: #888;margin-top: -2px;}
    .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
    .info .link {color: #5085BB;}
/*마커용 CSS 끝*/



</style>